[submodule "themes/roxo"]
	path = themes/roxo
	url = https://github.com/StaticMania/roxo-hugo.git
[submodule "themes/hugo-serif-theme"]
	path = themes/hugo-serif-theme
	url = https://github.com/zerostaticthemes/hugo-serif-theme
[submodule "themes/tailbliss"]
	path = themes/tailbliss
	url = git@github.com:nusserstudios/tailbliss
