.site-navigation {
    .navbar-brand {
        img {
            transform: scale(1.5);
        }
    }
    .navbar-toggler {
        .icon-bar {
            background: $tertiary;
        }
    }
}

.site-hero {
    // background-position: left;
    background-size: inherit;
}

.site-counter-item-title {
    text-align: center;
    display: block;
}

.site-counter-item-number {
    width: 125px;
    height: 125px;
    margin: 25px auto 0 auto;
    background: #fff;
    border-radius: 100%;
}