@import url(../../themes/tailbliss/assets/css/style.css);

:root {
    --primary-blue: rgb(52 113 141);
}

:target {
    scroll-margin-top: 5vmax;
}

.bg-primary-600 {
    background-color: var(--primary-blue);
}

.bg-primary-800 {
    background-color: var(--primary-blue);
    filter: brightness(95%);
}

.hover\:bg-primary-600:hover,
.hover\:bg-primary-800:hover {
    background-color: var(--primary-blue);
}

.hover\:bg-primary-800:hover {
  filter: brightness(95%);
}


/** Syntax Highlighting fixups with tailwind "prose" and variables */
.prose {
  --tw-prose-links: #818cf8;
  --tw-prose-code: #c30;
  --tw-prose-pre-bg: #ededed;
  /* Custom */
  --prose-pre-border: #dcdcdc;
  --codeblock-label-border: #7c7d7d
}

.dark .prose {
  --tw-prose-code: #e9995e;
  --tw-prose-pre-bg: #111827;
  /* Custom */
  --prose-pre-border: #333947;
  --codeblock-label-border: #09f;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    border-radius: 2px;
    color: var(--tw-prose-code);
    background-color: var(--tw-prose-pre-bg);
    padding: 0 .15em .1em .15em;
}

.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
    color: unset;
    content: none;
    background-color: unset;
    padding: unset;
}

/* Override to hide backticks */
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: none;
  background-color: transparent;
}
/* end Syntax Highlighting fixups */

.codeblock-label {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 1.7142857em;
  font-size: .9em;
  max-width: 90%;
  overflow: hidden;
}

.codeblock-label code::before {
  content: '📄';
  position: sticky;
  padding: 0 0.2em;
  font-size: 1.3em;
  top: 3px;
  left: 0;
  background-color: var(--tw-prose-pre-bg);
}

.codeblock-label::-webkit-scrollbar,
.codeblock-label code::-webkit-scrollbar {
  display: none;
}

.codeblock-label:hover,
.codeblock-label:hover code {
  overflow-x: auto;
}

.codeblock-label code {
  border-radius: .175rem .175rem 0 0;
  padding-right: .5em;
  color: var(--tw-prose-code);
  background-color: var(--tw-prose-pre-bg);
  border-bottom-width: 0px;
  position: relative;
  top: 1px;
  white-space: nowrap;
  overflow: hidden;
}

.highlight {
  position: relative;
  z-index: 20;
}

.codeblock-label + .highlight .chroma {
  margin-top: 0;
  border-radius: 0 .375rem .375rem .375rem;
}

.codeblock-label code, 
.highlight .chroma {
  border: 1px solid var(--prose-pre-border);
}