@import url(../../themes/tailbliss/assets/css/style.css);

:root {
    --primary-blue: rgb(52 113 141);
}

:target {
    scroll-margin-top: 5vmax;
}

.bg-primary-600 {
    background-color: var(--primary-blue);
}

.hover\:bg-primary-600:hover {
    background-color: var(--primary-blue);
}