<title itemprop="name">{{if .IsHome}} {{ $.Site.Params.description }} | {{ .Title }}
    {{else}} {{ .Title }} | {{ .Site.Title }} {{end}}
</title>
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:description"
      content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="twitter:description"
      content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="en">
<meta property="twitter:card" content="summary_large_image">
{{ if .IsPage}}
    {{ $featured_image_location := (print .Site.BaseURL .File.Dir .Params.featured_image)}}
<!-- <meta property="og:image" content="{{ if .Params.featured_image }}{{ $featured_image_location | absURL }}{{ else }}{{ .Site.Params.og_image | relURL }}{{ end }}" />
<meta property="og:image:secure_url" content="{{ if .Params.featured_image }}{{ $featured_image_location | absURL }}{{ else }}{{ .Site.Params.og_image | absURL }}{{ end }}" /> -->
<meta property="og:image" content="/posts/how-to-improve-accessibility/cat.jpg" />
<meta property="og:image:secure_url" content="/posts/how-to-improve-accessibility/cat.jpg" />
<meta property="og:type" content="{{if .IsHome}}website{{else}}article{{end}}" />
<meta property="twitter:image" content="{{ if .Params.featured_image }}{{ $featured_image_location }}{{ else }}{{ .Site.Params.og_image | relURL }}{{ end }}" />
{{ end }}
