{{ range (index .Site.Data "projects") }}
<div class="overflow-hidden sm:pt-6 lg:relative">
    <div class="max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-12 lg:px-8" {{ with .SectionHeight }}style="min-height: {{ . }}px"{{ end }}>
        <div>
            <div class="md:mt-8">
                <div class="mt-6 sm:max-w-xl">
                    <h2
                        class="text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white sm:text-4xl md:mt-16">
                        {{ .Heading }}
                    </h2>
                    <p class="pb-12 mt-6 text-lg text-gray-900 dark:text-white">
                        {{ .Content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
        <div class="md:py-12 sm:relative sm:mt-12 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <div class="hidden sm:block">
                <div
                    class="absolute inset-y-0 w-screen left-1/2 rounded-l-3xl bg-gray-50 dark:bg-gray-900/10 lg:left-80 lg:right-0 lg:w-full">
                </div><svg class="absolute -mr-3 top-8 right-1/2 lg:left-0 lg:m-0" width="404" height="392" fill="none"
                    viewBox="0 0 404 392" loading="lazy">
                    <defs>
                        <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                            patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60"
                                fill="currentcolor"></rect>
                        </pattern>
                    </defs>
                    <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
                </svg>
            </div>
            <div class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:h-full lg:max-w-none lg:pl-12">
                <a href="{{ .Url }}" target="_blank">
                    {{ $p2image := resources.Get .Image }}
                    {{ with $p2image }}
                    {{ with .Resize (printf "x%d webp q90" .Height) }}
                    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="p2"
                        class="w-full rounded-lg shadow-xl lg:h-full lg:w-auto lg:max-w-none" loading="lazy" />
                    {{ end }}
                    {{ end }}
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}